@CHARSET "UTF-8";
.menubar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    font-size: 20px;
}
.menubar .leftmenu{
    float: left;
    display: block;
}
.menubar .rightmenu{
	float: right;
	display: block;
}
.menubar ul li {
    display: block;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.friends{
	height: 200px;
	background-color: #dddddd;
}

.achievements{
	height: 200px;
	background-color: #dddddd;
}
.history{
	height: 200px;
	background-color: #dddddd;	
}