@CHARSET "UTF-8";


* {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

/* Header */
body {
	background-color: rgb(233, 234, 237) !important;
}

.index-wrapper {
	background-color: white;
}

.welcome-box {
	text-align: center;
	border: solid 1px #CCCCCC;
	background-color: #f9f9f9;
	border-radius: 10px;
	display: table;
	padding: 4px;
	margin: 4px 4px 0px 4px;
}

.welcome-msg {
	color:rgb(51,51,51);
	font-size:30px;
	text-align:left;
}

.header-line {
	background-color: rgb(58, 87, 149);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 6px;
	z-index: 9;
	height: 70px;
}

.header-line * {
	color: white;
}

.logo-header {
	float: left;
	padding-left: 85px;
}

.logo-header * {
	display: inline-block;
}

.logo-header-large {
	font-size: 35px;
	padding-right: 15px;
	text-shadow: 1px 1px 2px #000000;
}

.logo-header-small {
	font-size: 15px;
}

.personal-header {
	float: right;
}

.personal-header .inline-part {
	display: inline-block;
	padding-right: 30px;
	padding-top: 23px;
	text-decoration: none;
}

#popup-child {
	display:none;
	position: absolute;
	top: 65px;
	right: 50px;
	border: 1px solid #fff;
	width: 185px;
	height: 100px;
	background-color: white;
	border-radius: 3px;
}

#popup-child:before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	right: 130px;
	top: -20px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

#popup-child p {
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.personal-header a:hover {
	text-decoration: underline;
	color: white;
}

.uhp-content {
	margin-top: 70px;
}

.uhp-content div {
	margin: 3px 0 3px 0;
}

.uhp-content a {
	color: rgb(59,114,184);
	font-weight: 25;
	text-decoration: none;
}

.uhp-content>div {
	padding: 15px 10px 15px 20px;
}

.uhp-user {
	padding-left: 100px !important;
}

.uhp-user-inner * {
	display: block;
}

.column-name {
	font-size: 15px;
	color: rgb(147, 153, 164);
	padding-bottom: 5px;
	padding-top:5px;
}

.section-name {
	color: rgb(147, 153, 164);
	padding-top: 10px;
}

.column-indent {
	text-indent: 10px;
	margin-top:5px;
}

.news-feed {
	display:block;
	margin-top:5px;
}

.create-quiz-button {
	margin-top: 10px!important;
	margin-bottom:5px!important;
}
.msg-box {
	margin-top:60px;
}

.msg-header {
	margin-left:43px;
}

.msg-container {
	margin-top: 20px;
	text-align:center;
}

.msg-container table {
	width:100%;
}

.msg-container th {
	text-align:center!important;
}

.msg-write {
	margin-top:20px;
}

.msg-control a {
	text-decoration:none;
}

.msg-write-box {
	margin-top: 60px;
	margin-left:20%;
}

.msg-write-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.msg-write-input {
	margin-top: 10px;
	margin-bottom:10px;
}

.msg-read-box {
	margin-top:60px;
	margin-left: 20%;
}

.msg-read-body td{
	position:relative;
	left:10px;
}

.msg-read-option-abreast {
	display:inline-block;
	margin-right:20px;
}

.dangerous-option {
	margin-top: 10px;
	margin-bottom:10px;
	color: red!important;
	font-weight:bold!important;
}

.normal-option {
	margin-top: 10px;
	margin-bottom:10px;
	font-weight:bold!important;
}

.admin-profile-link {
	margin-top:60px;
	margin-left:50px;
}