@CHARSET "UTF-8";
* {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header */
body {
	background-color: rgb(237,240,245);
}

.header-line {
	background-color: rgb(58,87,149);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 6px;
	z-index: 9;
	height:70px;
}

.header-line * {
	color: white;
}

.logo-header {
	float: left;
	padding-left: 100px;
}

.logo-header * {
	display: inline-block;
}

.logo-header-large {
	font-size: 35px;
	padding-right:15px;
	text-shadow: 1px 1px 2px #000000;
}

.logo-header-small {
	font-size: 15px;
}

.personal-header {
	float: right;
}

.personal-header * {
	display: inline-block;
	padding-right: 20px;
	padding-top:23px;
	text-decoration: none;
}

.personal-header a:hover {
	text-decoration: underline;
}

.uhp-content {
	margin-top:70px;
}

.uhp-content * {
	display: inline-block;
}