@CHARSET "UTF-8";

* {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

/* Header */
body {
	background-image:url('images/mountain.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:repeat;
}

input[type=text]{
	padding: 4px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

input[type=password]{
	padding: 4px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

input[type=search]{
	padding: 4px;
	height:25px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

input[type=submit] {
	padding: 1px 6px;
	background: transparent;
	color: #000000!important;
	border: solid 1px #000000;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

input[type=submit]:hover{
	padding: 1px 6px;
	background-color: #e6e5e7;
	color: #ffffff!important;
	border: solid 1px #e6e5e7;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

input[type=reset] {
	padding: 1px 6px;
	background: transparent;
	color: #000000!important;
	border: solid 1px #000000;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

input[type=reset]:hover{
	padding: 1px 6px;
	background-color: #e6e5e7;
	color: #ffffff!important;
	border: solid 1px #e6e5e7;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

.header-line input[type=submit] {
	padding: 1px 6px;
	background: transparent;
	color: #ffffff!important;
	border: solid 1px #ffffff;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

.header-line input[type=submit]:hover{
	padding: 1px 6px;
	background: #ffffff;
	color: #000000!important;
	border: solid 1px #ffffff;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

.welcome-box {
	text-align: center;
	position: relative;
	left: 35%; 
	top:40px;
	border : solid 1px #CCCCCC;
	background-color: #ffffff;
	border-radius: 10px;
	display: table;
	padding: 4px;
	margin: 8px 8px 8px 8px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.welcome-box:hover {
	background-color:#efeef1;
	cursor:pointer;
}

.welcome-msg {
	margin: 5px 5px 5px 5px;
	color: rgb(51, 51, 51);
	font-size: 40px;
	text-align: left;
}

.welcome-wrapper a:hover {
	text-decoration: none;
}

.menubar {
	margin-top:80px;
	margin-left:28%;
	margin-bottom:40px;
	background-color:#fffff;
	z-index:1000;
}

.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menubar li {
	display:inline-block;
}

.browse-section {
	background-color:rgb(242,242,242) !important;
	color:rgb(49,49,49);
}

.browse-section ul{
	list-style-type: none;
}

.browse-section h3{
	text-align:center;
}

.browse-section li{
	margin-left:-35px;
	text-align:center;
}

.browse-section a {
	color:rgb(107,107,107)!important;
}

.browse-section a:hover {
	text-decoration:none;
	color:#e5e3e6!important;
}

.header-line {
	opacity: .9; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	z-index: 9;
	height: 60px;
}

.logo-header-large a:hover {
	text-decoration: none;
	color:rgb(200,200,200);
}

.body-section {
	position:absolute;
	top:40px;
	margin-left:20px;
	margin-right:20px;
	width:96%;
	opacity:.9;
}

.body-part-wrapper {
	padding:20px;
}

.body-part {
	opacity: .8;
	position: relative;
	width: 98%;
	padding: 20px 40px 20px 40px;
	margin: 0 auto;
	margin-top:30px!important;
	margin-bottom:10px!important;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	color:rgb(30,30,30);
}

.body-part a{
	color:rgb(100,100,100);
}

.body-part a:hover{
	color:rgb(200,200,200)!important;
}


.header-line * {
	color: white;
}

.logo-header {
	float: left;
	padding-left: 85px;
}

.logo-header * {
	display: inline-block;
}

.logo-header-large {
	font-size: 25px;
	padding-right: 15px;
}

.logo-header-small {
	font-size: 15px;
}

.personal-header {
	float: right;
}

.personal-header .inline-part {
	display: inline-block;
	padding-right: 30px;
	padding-top:10px;
	text-decoration: none;
}

#popup-child {
	display: none; position : absolute;
	top: 55px;
	right: 50px;
	border: 1px solid #fff;
	width: 200px;
	height: 100px;
	background-color: white;
	border:solid 1px #ccc;
	border-radius: 3px;
	position: absolute;
}

#popup-child:before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	right: 140px;
	top: -20px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

#popup-child p {
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.personal-header a:hover {
	text-decoration: none;
	color: #ccc;
}

.uhp-content {
	margin-top: 50px;
}

.uhp-content div {
	margin: 3px 0 3px 0;
}

.uhp-content a {
	color: ;
	font-weight: 25;
	text-decoration: none;
}

.uhp-content>div {
	padding: 15px 10px 15px 20px;
}

.uhp-user {
	padding-left: 100px !important;
}

.uhp-user-inner * {
	display: block;
}

.column-name {
	font-size: 15px;
	font-weight:bold;
	padding-bottom: 5px;
	padding-top: 5px;
}

.section-name {
	font-weight:bold;
	margin-top: 10px;
	margin-left:20px;
}

.column-indent {
	margin-left:20px;
	margin-top: 5px;
}

.news-feed {
	display: block;
	margin-top: 5px;
	margin-left: 20px;
}

.create-quiz-button {
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}

.msg-box {
	margin-top: 60px;
}

.msg-header {
	margin-left: 43px;
}

.msg-container {
	text-align: center;
}

.msg-container table {
	width: 100%;
}

.msg-container th {
	text-align: center !important;
}

.msg-write {
	margin-top: 20px;
}

.msg-control a {
	text-decoration: none;
}

.msg-write-box {
	margin-top: 3px;
	margin-left: 19%;
}

.msg-write-header {
	margin-bottom: 10px;
}

.msg-write-input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.msg-read-box {
	margin-top: 60px;
	margin-left: 20%;
}

.msg-read-body td {
	position: relative;
	left: 10px;
}

.msg-read-option-abreast {
	display: inline-block;
	margin-right: 20px;
}

.dangerous-option {
	margin-top: 10px;
	margin-bottom: 10px;
	color: red !important;
	font-weight: bold !important;
}

.important-option {
	color: blue !important;
	font-weight: bold !important;
}

.normal-option {
	font-weight: bold !important;
}

.admin-profile-link {
	margin-top: 60px;
	margin-left: 50px;
}